# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# VSCode / IDE settings
.vscode/
.idea/
*.code-workspace

# macOS / Windows hidden files
.DS_Store
Thumbs.db

# Logs and local output
*.log
*.tmp
*.bak

# Test and debug artifacts
*.swp
*.swo

# Streamlit generated folders
.streamlit/config.toml
.streamlit/secrets.toml
